.buttonDel {
  color: #fff;
  background-color: coral;
  margin-left: 30px;
}

.buttonCan {
  border-color: rgb(209, 209, 209);
  border-width: 1px;
  border-style: solid;
}
.mat-dialog-actions {
  display: flex;
  justify-content: right;
}

/* .mat-mdc-dialog-actions {
  display: flex;
  justify-content: right;
  margin: 0px 10px 10px 0px;
  float: right;
} */
::ng-deep .cdk-overlay-dark-backdrop {
  backdrop-filter: blur(2px) !important;
}

::ng-deep .mat-dialog-container {
  border-radius: 1.5rem;
}
