.container {
  width: 85%;
  margin: auto;
}

.container .mat-card {
  border-radius: 3rem;
  padding: 10px 30px 15px 30px;
}

.pnlForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgb(109, 109, 109);
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-bottom: 0px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(168, 168, 168);
  border-bottom-width: 2px;
}

mat-form-field {
  font-size: 0.8rem;
  padding: 0px;
}

.b-form button {
  margin-left: 2rem;
}
.b-add {
  background: var(--bg-gradient);
}

.b-can {
  color: coral;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 0, 0) !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: rgb(0, 0, 0) !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(255, 0, 0) !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-input-element {
  caret-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: rgb(255, 0, 0) !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
}

.status-prioridade {
  display: flex;
  justify-content: space-between;
}

.status-prioridade mat-form-field {
  width: 48%;
}

.desc {
  min-height: 6rem;
  max-height: 12rem;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
  width: 11px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal {
  height: 11px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
