.container {
  width: 85%;
  margin: auto;
}

.container .mat-card {
  border-radius: 3rem;
  padding: 10px 30px 25px 30px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 30%;
}

.b-add {
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: var(--bg-gradient);
}

h1 {
  text-align: center;
  font-weight: 700;
  color: rgb(109, 109, 109);
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding-bottom: 5px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(168, 168, 168);
  border-bottom-width: 2px;
}

.b-edit {
  color: var(--main-one-color);
  margin: 5px;
}

.b-del {
  color: coral;
  margin: 5px;
}

a > i {
  cursor: pointer;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.one-radio {
  margin-right: 20px;
}

.one-radio mat-radio-button {
  margin-right: 30px;
  padding-top: 10px;
}

::ng-deep .mat-form-field {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
