@import "../node_modules/ngx-toastr/toastr.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*   background-color: #eef5fb;
  color: #5f84d6;
  color: #7ab2f4;
} */

:root {
  --main-bg-color: #eaf5ff;
  --main-one-color: #5f84d6;
  --main-two-color: #7ab2f4;
  --bg-gradient: linear-gradient(
    180deg,
    #7ab2f4,
    #5f84d6
  ); /* substitua as cores e ângulo conforme necessário */
}
