.container {
  width: 85%;
  margin: auto;
}

.container .mat-card {
  border-radius: 3rem;
  padding: 30px 30px 50px 30px;
}

.pnlForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: rgb(109, 109, 109);
  letter-spacing: 2px;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom-style: dotted;
  border-bottom-color: rgb(168, 168, 168);
  border-bottom-width: 3px;
}

.section {
  display: flex;
  justify-content: left;
}

.section p {
  margin-right: 50px;
}

img {
  height: 25rem;
  margin: auto;
  padding: 0px 0px 0px 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 40;
}

.fullField {
  width: 100%;
}

.b-form {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top-style: dotted;
  border-top-color: rgb(168, 168, 168);
  border-top-width: 3px;
  padding-top: 25px;
}

.b-form button {
  margin-left: 2rem;
}
.b-add {
  background: var(--bg-gradient);
}

.b-can {
  color: coral;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 0, 0) !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: rgb(0, 0, 0) !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(255, 0, 0) !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-input-element {
  caret-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: rgb(255, 0, 0) !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
}
